code{
    color: #006ec0;
    background-color: aliceblue;
}
html[data-theme='dark'] code {
    /*color: aliceblue;*/
    /*background-color: #006ec0;*/
}
input{
    color: #006ec0;
    background-color: aliceblue;
    border: 0;
}
html[data-theme='dark'] input {
    color: #006ec0;
    background-color: aliceblue;
    border: 0;
}
table#roi-data{
    border: 2px solid aliceblue;
    background-color: #004e89;
    resize: inherit;
}
html[data-theme='dark'] table#roi-data{
    border: 2px solid aliceblue;
    background-color: #004e89;
    resize: inherit;
}
#roi-results{
    display: none;
}
.calculator-inputs{
    text-align: left !important;
}
.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
    .details{
        display: none;
    }
}